<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj3</title>
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="icon" type="image/png" href="../static/images/logowebclaseGrande.png">
</head>

<body>
    <header>
        <button class="logo-btn">
            <a href="html.html">
                <img src="../static/images/logo web clasepeque.png" alt="Botón de imagen" class="logo">
            </a>
        </button>
        <input type="text" placeholder="Buscar" id="searchBar" class="search-bar">
        <div class="dropdown">
            <button class="dropdown-btn">
                <img src="../static/images/klipartz.com.png" alt="Imagen de desplegable" class="dropdown-img">
            </button>

            <div class="dropdown-content">
                <a href="../templates/top100.html">Top 100</a>
                <a href="../templates/lanzamientos.html">Lanzamientos recientes</a>
                <a href="../templates/randomizer.html">Randomizer</a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="wrapper">
            <div class="banner-image custom-image"></div>
            <h1>Yakuza 0</h1>
            <p>Adventure, (RPG), Simulator</p>
            <br>
            <p>Ryū Ga Gotoku Studios</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Kiryu.DB</p>
    </footer>
</body>

</html>