<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/juego.css">
    <link rel="icon" type="image/png" href="../static/images/logowebclaseGrande.png">
</head>
<body>
    <header>
        <button class="logo-btn">
            <a href="html.html">
                <img src="../static/images/logo web clasepeque.png" alt="Botón de imagen" class="logo">
            </a>
        </button>
        <input type="text" placeholder="Buscar" id="searchBar" class="search-bar">
        <div class="dropdown">
            <button class="dropdown-btn">
                <img src="../static/images/klipartz.com.png" alt="Imagen de desplegable" class="dropdown-img">
            </button>

            <div class="dropdown-content">
                <a href="../templates/top100.html">Top 100</a>
                <a href="../templates/lanzamientos.html">Lanzamientos recientes</a>
                <a href="../templates/randomizer.html">Randomizer</a>
            </div>
        </div>
    
    </header>
    <div class="container">
        <div class="row">
            {% for game in games %}
            <div class="col">
                <div class="card">
                    <img src="{{ game.cover }}" alt="{{ game.name }}">
                    <h2>{{ game.name }}</h2>
                    <p>Rating: {{ game.total_rating }}</p>
                    <p>Géneros: {{ game.genres | join(', ') }}</p>
                    <p>Fecha de salida: {{ game.release_dates }}</p>
                    <a href="{{ game.url }}" class="btn">Más información</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  
</body>
</html>