<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj3</title>
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="icon" type="image/png" href="../static/images/logowebclaseGrande.png">
</head>

<body>
    <header>
        <button class="logo-btn">
            <a href="html.html">
                <img src="../static/images/logo web clasepeque.png" alt="Botón de imagen" class="logo">
        </button>
        </a>
        <h1 id="tituloPag">Randomizer</h1>
    </header>
    <footer>
        <p>&copy; 2024 Kiryu.DB</p>
    </footer>
</body>

</html>